<button class="btn btn-outline-primary mb-2 me-2" (click)="openLg(content)">Details</button>

<ng-template #content let-modal>
	<div class="modal-header">
		<h3 class="modal-title">{{details?.title}}</h3>
		<button type="button" class="btn-close" aria-label="Close"  data-bs-dismiss="modal" (click)="modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body">
		<div *ngIf="!details" class="spinner-border" role="status">
			<span class="visually-hidden">Loading...</span>
		</div>
		<p >{{details?.description?.value || details?.description}}</p>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="modal.close('Close click')">Close</button>
	</div>
</ng-template>